.container.recipes_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 60px 0;
}

input[type="text"] {
  border: 2px solid #f56f10eb;
  border-radius: 50px 0px 0px 50px;
  padding: 4px;
}

button.recipes_search {
  border: 2px solid #f56f10eb;
  border-radius: 0px 50px 50px 0px;
  padding: 4px 20px;
  background: #f56f10eb;
  color: #ffffff;
  font-weight: 400;
}

img.recipe__img {
  max-height: 200px;
}

input[type="text"]::placeholder {
  font: 500 16px "Arial", sans-serif;
  position: relative;
  top: -1px;
  left: 10px;
}

input[type="text"]:focus {
  outline: none;
}

.card {
    margin: 20px;
}

h2.recipe__name {
    font-size: 18px;
    margin-top: 16px;
}
